<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Trabalho_LP2_2.Properties.Settings.csTrabalho" connectionString="server=localhost;user id=root;persistsecurityinfo=True;database=trabalholp2"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>


      <startup useLegacyV2RuntimeActivationPolicy="true">
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
      </startup>
      
      
</configuration>